.wrapper {
	max-width: 1050px;
	margin: 0 auto;
	font: 1.2em Helvetica, arial, sans-serif;
}

.wrapper > * {
	border: 2px solid #f08c00;
}

body {
	text-align: center;
	background-color: #8fb4ef;
}

.grid {
	display: grid;
	grid-template-columns: 150px auto 150px;
	grid-template-rows: 100px 250px 100px;
	grid-gap: 1em;
}

header  {
	font-family: sans-serif;
	padding: 1em;
	grid-row: 1;
	grid-column: 1/4;
}

.aside-left {
	grid-row: 2;
	grid-column: 1/2;
}

.aside-right {
	grid-row: 2;
	grid-column: 3/4;
}

article {
	grid-row: 2;
	grid-column: 2/3;
	text-align: left;
	text-indent: 1.5em;
}

footer {
	grid-row: 3;
	grid-column: 1/4;
}

.selfie {
	border-radius: 20px;
	max-height: 80px;
	max-width: auto;
}
