* {box-sizing: border-box;}

.wrapper {
	max-width: 1050px;
	margin: 0 auto;
	font: 1.2em Helvetica, arial, sans-serif;
}

.wrapper > * {
	border: 2px solid #f08c00;
	background-color: #8fb4ef;
}

header  {
	font-family: sans-serif;
	padding: 1em;
	grid-area: header;
}

.aside-left {
	grid-area: aside_left;
}

.aside-right {
	grid-area: aside_right;
}

article {
	grid-area: article;
}

footer {
	grid-area: footer;
}

.wrapper {
	display: grid;
	grid-gap: 2px;
	grid-template-areas: 
		"header"
		"aside_left"
		"article"
		"aside_right"
		"footer"
}

@media (min-width: 700px) {
	.wrapper {
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-areas: 
		"header header header"
		"aside_left article aside_right"
		"footer footer footer"
	}
}

.selfie {
	border-radius: 20px;
	max-height: 80px;
	max-width: auto;
}

article {
	text-align: left;
	text-indent: 1.5em;
}

.aside-right a {
	text-decoration: none;
}

.aside-right ul {
	flex-direction: column;
}

.aside-right li {
	list-style-type: none;
}

header {
	text-align: center;
}

footer {
	text-align: center;
}
